@model EcoVolt.Models.GsConsumidor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GsConsumidor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnergiaAtribuidaKwh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnergiaAtribuidaKwh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NivelPrioridade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NivelPrioridade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoConsumidor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoConsumidor.IdTipoConsumidor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Localizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Localizacao.IdLocalizacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdConsumidor">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
