@model IEnumerable<EcoVolt.Models.GsEstado>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomEstado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pais)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomEstado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais.CodPais)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodEstado">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodEstado">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodEstado">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
