@model IEnumerable<EcoVolt.Models.GsDispositivo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConsumoEnergiaKwh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoDispositivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consumidor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConsumoEnergiaKwh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDispositivo.IdTipoDispositivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consumidor.IdConsumidor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDispositivo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDispositivo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDispositivo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
